
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/***********************************************************************
 Desktop Menu
 ***********************************************************************/
header {
    background-color: #fff;
    
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0px solid #fff;
    transition: all .5s;
}
header.black{
background: #fff;
box-shadow: 0px 5px 8px 2px rgba(95, 107, 229, 0.2);
}
.Rectangle_5 {
  background-image: -moz-linear-gradient( 90deg, rgb(0,4,32) 0%, rgb(0,4,32) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,4,32) 0%, rgb(0,4,32) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,4,32) 0%, rgb(0,4,32) 100%);
  position: absolute;
  left: -3px;
  top: 0px;
  width: 1255px;
  height: 516px;
  z-index: 4;
}

.chat {
    background: #000019;
    align-items: center;
    height: 70px;
    padding: 0 15px;
}

.cart {
      position: absolute;
    right: -122px;
    top: 16px;
}
.cart .btn-outline-red {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
}
.cart .counter {
    width: 17px;
    height: 17px;
    background: #ffc107;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    line-height: 17px;
    font-size: 10px;
    text-align: center;
    left: 21px;
    top: 9px;
    color: #fff;
}

.r-menu {
    height: 70px;
    background: #ffc107;
    padding: 0 15px;
    display: grid;
    place-items: center;
}

.r-menu img {
    width: 30px;
}

.chat img {
    margin-right: 10px;
}

.c-text {
    color: #fff;
    font-size: 10px;
}

.c-number {
    color: #ffc107;
    font-size: 16px;
    font-weight: 600;
}

nav#navbar.scrolled {
    min-height: 80px;
    background: #0b3a5d;
    transition: 0.5s all ease;
    position: fixed;
    padding: 0;
}



#navbar .scrolled {
    background-color: #fff;
}

nav .wrapper {
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 70px;
    margin-left: 127px;
}



.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

#navbar .nav-links li {
    list-style: none;
}


nav#navbar {
    position: relative;
}
#navbar .nav-links li a {
font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #2795be;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
}
/* #navbar .nav-links li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar .nav-links li a:hover:after { 
  width: 100%; 
  left: 0; 

} */

#navbar .nav-links li a.active {
        color: #2795be;
        font-weight: bold;
   
}


#navbar .nav-links li a:hover {
    color:#2795be;
}

#navbar .nav-links .mobile-item {
    display: none;
}

#navbar .nav-links .drop-menu {
    position: absolute;
    background: #ffffff;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#navbar .nav-links .drop-menu li a {
    color: #707786;
    padding: 14px 15px;
    border-bottom: 1px dashed #ddd;
}
#navbar .nav-links .drop-menu li:last-child a {
    border-bottom: 0px dashed #ddd;
}

#navbar .nav-links .drop-menu li a:hover {
    color: #2795be;
}

#navbar .nav-links li:hover .drop-menu,
#navbar .nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 68px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 0px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #fff;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(37% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 0px;
}

#navbar .mega-links li a {
    color: #000000;
    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600;
    display: flex;
}

#navbar .mega-links li a span {
    display: none;
    margin-right: 3px;
}

#navbar .mega-links li:hover a span {
    display: block;
}

#navbar .mega-links li:hover a {
    color: #eb3137;
    transform: translateX(5px);
}



.row .mega-links ul ul li a {

    padding: 8px 20px;
    color: #93A3EC;
    font-size: 14px;
    display: block;
}

.row .mega-links li a:hover {
    color: #fe0f56;
}


/*****************************************************************
Mobile Menu
*****************************************************************/
.mob-right {
    position: absolute;
    right: 0;
    top: 0;
}
.hs-menubar {

    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #fff;
    position: relative;
    z-index: 999;
}

ul.mega-logo.bg-red {
    text-align: center;
    height: 100%;
    display: grid;
    place-items: center;
    color: #fff;
}

ul.mega-links {
    padding: 15px;
}



.hs-menubar.bg {
    background: #0b3a5d;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.hs-menubar.sticky {
    position: fixed;
    top: 0;
    left: 0
}

.hs-navigation {
    width: 100%;
    height: 100vh;
        background: #0D0216;
    position: fixed;
    top: 0px;
    right: -100%;
    z-index: 999;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 30%);
}



.hs-navigation.open {
    right: 0
}

.hs-navigation,
.hs-navigation.open {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s
}

.hs-menubar,
.hs-navigation {
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.hs-user {
    right: 50px;
    overflow: hidden
}

.hs-user img {
    width: 32px;
    height: 32px;
    transition: .3s
}

.hs-user img:hover {
    opacity: .8;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    transform: scale(1.1);
    transition: .3s
}

.user-penal {
    width: 130px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
    background: #fff;
    list-style: none;
    position: fixed;
    display: none;
    top: 50px;
    right: 10px;
    line-height: 1.5;
    z-index: 100
}

.user-penal li a {
    font-size: 12px;
    text-decoration: none;
    color: #666;
    display: block;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s
}

.user-penal li .zmdi {
    font-size: 14px;
    padding-right: 10px
}

.user-penal li a:hover {
    background: rgb(255 255 255 / 10%);
    transition: .3s
}

.search-trigger:hover,
.menu-trigger:hover,
.grid-trigger:hover,
.more-trigger:hover {
    background: rgb(255 255 255 / 0%);
    transition: .3s
}

.search-trigger,
.menu-trigger,
.grid-trigger,
.hs-user,
.more-trigger {
    position: absolute;
    top: 10px;
    color: #e4bc41;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    transition: .3s;
    z-index: 100;
}

.menu-trigger {
    right: 25px;
}

.search-trigger {
    left: 50px
}

.grid-trigger {
    right: 90px
}

.more-trigger {
    right: 12px
}

.grid-items {
    width: 230px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
    background: #fff;
    padding-top: 10px;
    position: fixed;
    right: 80px;
    top: 50px;
    text-align: center;
    display: none;
    z-index: 120
}

.grid-items li.grid {
    list-style: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 50%;
    font-size: 11px
}

li.more-btn {
    height: 32px;
    line-height: 32px;
    margin: 15px 15px 5px 15px;
    box-sizing: border-box;
    display: block;
    position: relative
}

li.more-btn a {
    text-decoration: none;
    background: #e41b17;
    color: #fff;
    font-size: 13px;
    display: block;
    cursor: pointer;
    border-radius: 20px
}

li.more-btn a:hover {
    opacity: .8;
    -webkit-opacity: .8;
    -moz-opacity: .8
}

.grid-title {
    border: 1px red solid
}

.brand-logo {
    display: block;
    text-align: left
}

.brand-logo img {
    width: 85px;
    height: auto;
    margin-top: auto;
}

@-webkit-keyframes ripple-out {
    from {
        opacity: 1;
        -webkit-opacity: 1
    }

    to {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0
    }
}

@keyframes ripple-out {
    from {
        opacity: 1;
        -webkit-opacity: 1
    }

    to {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0
    }
}

.ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}

.ripple-out:before {
    content: '';
    position: absolute;
    border: rgba(255, 255, 255, 0.3) solid 6px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: ripple-out .4s linear forwards;
    -webkit-animation: ripple-out .4s linear forwards
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.fadeInUp {
    animation: fadeInUp .4s ease forwards;
    -webkit-animation: fadeInUp .4s ease forwards
}

.dim-overlay {
    display: none
}

.dim-overlay:before {
    content: "";
    background-color: rgba(0, 0, 10, .4);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2
}

.search-box {
    position: absolute;
    height: 50px;
    background: #555;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    top: 0;
    z-index: 500;
    left: 100px
}

.search-box button.search-submit,
.search-box input[type="text"] {
    padding: 6px;
    border: 0;
    outline: 0
}

.search-box input[type="text"] {
    background: transparent;
    color: rgba(255, 255, 255, 0.8)
}

button.search-submit {
    -webkit-appearance: none;
    background: #e41b17;
    color: #fff;
    text-shadow: .1px .1px #444;
    margin-left: -5px;
    border-radius: 4px;
    font-size: 13px
}

button.search-submit:disabled {
    background: #888;
    color: #555
}

.nav-controls {
    height: 36px;
    line-height: 36px;
    background: rgb(0 0 4);
    text-align: right;
    display: none;
}

.nav-controls .nav-full,
.nav-controls .nav-fixed {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 1;
    outline: 0;
    border: 0;
    margin: 0 3px
}

.nav-controls .nav-full:hover,
.nav-controls .nav-fixed:hover {
    opacity: .8;
    -webkit-opacity: .8
}

/* .user-info {
    position: fixed;
    top: 50px;
    right: 30px;
    width: 230px;
    background: #fff;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    line-height: 1;
    
} */

/* .user-info li {
    padding: 10px;
    list-style: none
} */

.user-info .profile-pic img {
    width: 70px;
    height: 70px;
    border-radius: 50%
}

.user-info .user-name {
    font-size: 14px;
    color: #222
}

.user-info .user-bio {
    font-size: 11px;
    color: #555;
    padding-bottom: 0
}

.mobile-menu .nav-links {
    list-style: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    overflow: auto;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    place-items: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
}

.nav-links .its-parent,
.nav-links li a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.2;
    transition: all 0.3s ease;
    letter-spacing: 2px;
}

.nav-links .its-parent:hover,
.nav-links li a:hover {
    background: rgb(0 0 0 / 0%);
}

.nav-links .icon {
    font-size: 18px;
    padding-right: 20px
}

.nav-links ul .its-parent:before,
.nav-links .has-child ul li a:before {
    content: "--";
    display: inline-block;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    width: 15px;
    height: 10px;
    position: relative;
    right: 10px
}

.nav-links .has-child ul {
    margin-left: 35px;
    border-left: 1px dashed rgba(255, 255, 255, 0.4)
}

.nav-links .its-children {
    display: none;
    list-style: none
}

.its-parent:after {
    content: "\f2f9";
    font-family: Material-Design-Iconic-Font;
    float: right;
    margin-right: 20px;
    transition: .4s;
    font-size: 40px;
    position: absolute;
    margin-left: 8px;
    color: #F57E06 ;
}

.its-parent.downed {
    background: rgba(0, 0, 0, 0.1)
}

.its-parent.downed:after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(360deg);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s
}
.hs-navigation .logo img {
    width: 30%;
    margin-top: 36px;
}
.menu-trigger.close-nav {
    /* right: 10px; */
    left: 82%;
    top: 30px;
}
/*****************************************************************
Responsive
*****************************************************************/
@media (max-width: 920px) {
   
}